.dload-timer-cd {
	width: 40px;
	height: 40px;
	background: url('../img/timer.gif') no-repeat;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	line-height: 36px;
	color: #666;
	background-size: cover;
	display: inline-block;
	margin: 10px;
}

.dload-timer-info {
	font-size:16px;
	display: inline-block;
}

.dload-timer-container {
	text-align: center;
	display: flex;
	flex-flow: row;
	width: 100%;
	background: #ffffff;
	border: 3px solid #2cd1fa;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 10px;
	position: relative;
}
.dload-timer-container .left-timer {
	flex-grow: 1;
	margin-right: 5px;
}
.dload-timer-container .right-info {
	flex-grow: 2;
	border-left: 1px solid #ccc;
}
.dload-timer-container:before
{
	content: 'Ожидайте...';
	position: absolute;
	top: -9px;
	margin: 0 auto;
	left:0;
	right:0;
	width: 100px;
	height: 18px;
	border-radius: 2px;
	background-color: #a8ff3d;
	color: #303030;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	text-transform: uppercase;
	z-index: 20;
}

