body {
    margin: 0;
    word-break: break-word;
    min-width: fit-content;
}

.dload-timer-wrap {
    padding: 0;
    margin: 0;
    width: 100%;
}

.dload-timer-container {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    background: #ffffff;
    box-shadow: 1px 1px 4px 1px #98989891;
}
.dload-timer-container .bgcolor {
    background: #4397ff;
}
.dload-timer-container .bgcolor_success {
    background: #39b400;
}
.dload-timer-container .bgcolor_failed {
    background: #ff4625;
}

.dload-timer-container .timer-container {
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.dload-timer-container .info-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden; 
    margin: 0 auto;
    max-width: 800px;
}

.dload-timer-info {
    font-size: 16px;
    display: inline-block;
    margin: 0 auto;
    max-width: 800px;
}

/* Timer animation */

.dload-timer-cd {
    position: relative;
    display: inline-block;
    width: 82px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    font-size: 2em;
}
.dload-timer-cd:after {
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 2.0s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
