
* {
	box-sizing: inherit;
}

.settings_page_awesome {
	background: #f6f6f6;
	font-size: 14px;
	position: relative;
	box-sizing: border-box;
	font-family: Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

#wpcontent {
	padding-left: 0;
}

.auto-fold { 
	#wpcontent {
		padding-left: 0;
	}
}

#seocherry-dload-delay-container {

    h3 {
        font-size: 1.1em;
        color:#3b464e;
        margin: 0.7em 0;
    }

	.ui-loading {
		margin-top: 25vh;
        margin-bottom: 25vh;
        margin-left: auto;
		margin-right: auto;
		max-width: 750px;
	}

	.fdd-header {
		padding: 20px 10px;
		background-color: #ffffff;

		.fdd-container {
			margin: 0 auto;
			max-width: 750px;

			.fdd-logo {
				display: flex;
				align-items: center;
				justify-content: center;
			}
            .fdd-logo img {
                width: 48px;
                margin-right: 10px;
            }
		}
	}

    .fdd-content-flex {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: flex-start;

    }

    .fdd-sidebar {
        max-width: 250px;

        .components-panel__body {
			margin: 25px 0;
			background: #fff;
			border: 1px solid #e2e4e7;

            &.free-version {
                background: #ffe0a8;
            }
            &.pro-version {
                background: #c2efff;
                
                img {
                    width: 100%;
                }
            }
            &.expired-version {
                background: #ffaca8;
            }

			.components-panel__body-toggle {
				border-bottom: 1px solid #d6e2ed;
			}

			.components-panel__row {
				padding: 10px;
				margin: 0;
            }
        }
    }

	.fdd-main {
		// margin-left: auto;
		// margin-right: auto;
		max-width: 650px;

        hr {
            border-top: 0;
            border-bottom: 0;
        }

		.components-panel__body {
			margin: 25px 0;
			background: #fff;
			border: 1px solid #e2e4e7;

			.components-panel__body-toggle {
				border-bottom: 1px solid #d6e2ed;
			}

			.components-panel__row {
				padding: 10px;
				margin: 0;

                // &.border-normal {
                //     border-left: 3px solid #4397cc;
                // }
                // &.border-success {
                //     border-left: 3px solid #39b400;
                // }
                // &.border-failed {
                //     border-left: 3px solid #ff4625;
                // }
                .components-form-token-field {
                    label {
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                }
				.components-base-control {
					.components-base-control__field {
						display: flex;
						align-items: center;
						margin-bottom: 10px;
					}

					&.codeinwp-text-field {
						width: 100%;

						.components-base-control__field {
							display: block;

							label {
								font-weight: 600;
								margin-bottom: 10px;
							}

							input {
								border: 1px solid #b7c9d9;
								border-radius: 3px;
								font-size: 14px;
								padding: 9px 15px;
								width: 100%;
								box-shadow: none;
								height: 40px;
								margin: 0 0 0 0;
								color: #444;

								&:disabled {
									background: #f6f6f6;
									border-color: #eeeeee;
									color: #bbbbbb;
								}

								&:focus {
									border-color: #00a0d2;
									box-shadow: 0 0 0 1px #00a0d2;
									outline: 2px solid transparent;
									outline-offset: -2px;
								}
							}

							.codeinwp-text-field-button-group {
								display: flex;
								align-items: center;
								margin: 2px 0 15px;

								.is-primary {
									padding: 2px 20px;
									height: auto;
									font-size: 14px;
									margin-right: 10px;
								}
							}
						}
					}
				}

                .components-circular-option-picker .components-circular-option-picker__custom-clear-wrapper {
                    justify-content: flex-start;
                    margin-left: 10px;

                    button {
                        background: white;
                    }
                }
			}
		}

		.fdd-info {
			padding: 0 10px 10px;

			h2 {
				font-weight: 300;
				margin-bottom: 10px;
			}

			p {
				margin: 0 0 1.5em 0;
			}
		
			.codeinwp-info-button-group {
				display: flex;

				.is-default {
					padding: 2px 20px;
					height: auto;
					font-size: 14px;

					&:first-child {
						margin-right: 15px;
					}
				}
			}
		}
	}

    .fdd-layout-icon {
        margin-left: 10px;
        height:20px;
    }

    .components-color-palette__picker {
        .components-popover__content{
            width: 400px;
            
                    .components-color-picker {
                        width:100%;
                    }
        }
    }


    .tab-panel-texts {
        .tabs-active {
            box-shadow: inset 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color);
            background: white;
        }
        button {
            background: #e2e4e7;

            &:focus {
                background: white;
            }
        }
    }
}
